section.smpo-architecture.inner-section(id=smpo.architecture.id)
  .container
    h3.inner-section__title.smpo-architecture__title= smpo.architecture.title
    .smpo-architecture__links
      h5.systems__subtitle= smpo.architecture.linksTitle
      each level in index.systems.level
        .smpo-architecture__block.systems__level
          h6.systems__level-title= level["title"]
          each link in level["list"]
            a.systems__level-link(href="#")= link
    .smpo-architecture__slider
      .smpo-architecture__slider-slider
        each item in smpo.architecture.list
          .smpo-architecture__slide
            .smpo-architecture__slide-img
              img(src=item["img"] alt=item["title"])
            .smpo-architecture__slide-info
              span.smpo-architecture__slide-num= item["num"]
              h3.text.smpo-architecture__slide-title= item["title"]
              p.text.smpo-architecture__slide-text= item["text"]
      .smpo-architecture__slider-arrows
        .smpo-architecture__slider-arrow.prev
          +icon(smpo.architecture.arrow)
        .smpo-architecture__slider-arrow.next
          +icon(smpo.architecture.arrow)